.portfolio-section {
    background-color: var(--container-color);
    padding: 50px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    max-width: 1400px;
    height:auto;
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; 
}

.portfolio-section h2 {
    font-size: var(--Header-font-size);
    margin-bottom: 20px;
    color: var(--Header-font-color);
    text-align: center;
    display: block;
    width: 100%;

}

.portfolio-section p {
    font-size: var(--Header-explaination-font-size);
    color: var(--Header-explaination-font-color);
    margin-bottom: 40px;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 0;
}

.portfolio-grid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 100%; 
}

.portfolio-item {
    width: 30%;
    border-radius: 20px;
    overflow: hidden;
}

.portfolio-item img {
    width:300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.explore-more {
    text-align: center;
}

.explore-btn {
    background-color: var(--btn-color);
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-size: var(--btn-text-font-size);
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
    margin-left: 1000px;
    color: var(--btn-font-color);
}

.explore-btn .arrow {
    margin-left: 10px;
}

.explore-btn:hover {
    background-color: var(--hover-btn-color);
    color: var(--hover-btn-font-color);
}
