/* Styling for the Promo Section */
.promo-section {
    background-image: url('../../Assets/PageCovers/EX-Upcoming\ product\ for\ main.jpg');
    background-size: cover; /* Makes the background image cover the entire element */
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
    padding: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    max-width: 1400px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
  }