.service-section {
  background-color: var(--container-color);
  padding: 50px;
  border-radius: 50px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  width: 85%;
  max-width: 1400px;
  height:auto;
  margin: 0 auto;
  margin-bottom: 30px;
}

.container {
  width: 100%;
  text-align: center; 
  margin-bottom: 20px;
}

.service-section h2 {
  font-size: var(--Header-font-size);
  margin-bottom: 10px; 
  color: var(--Header-font-color);
  text-align: center; 
  display: block;
  width: 100%;
}

.service-section span {
  color: var(--highlight-color); 
}

.service-section p {
  font-size: var(--Header-explaination-font-size);
  color: var(--Header-explaination-font-color);
  margin-bottom: 40px;
  text-align: center;
  display: block; 
  width: 100%; 
  margin-top: 0; 
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%; 
  max-width: 1200px;
}

.service-card {
  background-color:var(--box-color);
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 5px;
  width: auto;
}

.service-card h3 {
  margin-top: 10px;
  font-size: var(--Secondary-Header-font-size);
  color: var(--Secondary-Header-font-color);
}

.service-card p {
  font-size:var(--Paragraph-font-size);
  color: var(--Paragraph-font-color);
  margin-top: 10px;
  text-align: justify;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 10px 0px 10px 20px;
}

.icon img {
  width: 100%;
  height: auto;
}

/* Responsive layout */
@media (max-width: 768px) {
  .service-grid {
      grid-template-columns: 1fr; /* Single column layout on smaller screens */
  }
}
