.contact-info-section {
  background-color: var(--container-color);
  padding: 50px;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 85%;
  max-width: 1400px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}

.contact-info-section  h2 {
  font-size: var(--Header-font-size);
  color: var(--Header-font-color);
  margin-bottom: 10px;
}


.contact-info-section .description {
  font-size: var(--Header-explaination-font-size);
  color:var(--Header-explaination-font-color);
  margin-bottom: 40px;
}

.contact-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.contact-details {
  text-align: left;
 
}

.contact-details h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: -20px;
  
}

.contact-details h4 {
  font-style: normal;
  line-height: 1.4;
  margin-left: 20px;
 

}

.contact-details a {
  color: black;
  text-decoration: none;
  margin-top: 15px;
}



.contact-icon {
  width: 250px;
  margin-left: 200px;



}

.contact-icon img {
  width: 100%;
  height: auto;
}

.icon {

  width: 20px;
  color: #5c8af0;
  margin-bottom: -20px;
  height: auto;
  margin: 10px 20px -5px 20px;
}
