.About-US-Hero-section {
  background-image: url("../../Assets/PageCovers/cover\ 02.jpg");
  background-size: cover; /* Makes the background image cover the entire element */
  background-repeat: no-repeat; /* Ensures the image doesn't repeat */
  padding: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  max-width: 1400px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 90px;
}

/* Left text section */
.About-US-Hero-text {
  max-width: 50%;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.About-US-Hero-text h1 {
  font-size: var(--cover-header-font-size);
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--cover-text-color);
}

.About-US-Hero-text p {
  font-size: var(--cover-subHeader-font-size);
  margin-bottom: 30px;
  color: var(--cover-text-color);
}
