.why-choose-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: var(--container-color);
  border-radius: 50px;
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.choose-us-heading {
  font-size: var(--Header-font-size);
  color: var(--Header-font-color);
  margin-bottom: 20px;
  text-align: center;
}

.choose-us-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.choose-us-list {
  flex: 1;
  padding: 20px;
}

.choose-us-list ul {
  list-style-type: disc; /* Add bullets */
  padding-left: 70px; /* Space for bullets */
  margin: 0;
}

.choose-us-list li {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.choose-us-image {
  flex: 1;
  padding: 20px;
}

.choose-us-image img {
  width: 500px;
  height: 300px;
  border-radius: 50px;
}
