.tools-section {
  background-color: var(--container-color); 
  border-radius: 50px;
  padding: 50px;
  text-align: center;
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  
}


.tools-section h4 {
  font-size: var(--Secondary-Header-font-size);
  color: var(--Secondary-Header-font-color);
  margin-bottom: -20px;
  margin-left: 550px;


}

.tools-section h3 {
  font-size: var(--Header-font-size);
  color: var(--Header-font-color);
  margin-bottom: 10px;
}


.description {
  font-size:var(--Header-explaination-font-size);
  color: var(--Header-explaination-font-color);
  margin-bottom: 40px;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  height: 100px;
}

.tool-card {
  background-color: var(--box-color);
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.tool-card.active {
  background-color: #a3a6ff; /* Highlighted background for active */
  transform: translateY(-10px);
}

.tool-card:hover {
  background-color: #cfcfcf;
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .tools-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .tools-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

/* Common styling for design, backend, frontend, database, and server icons */
.design-icons,
.backend-icons,
.frontend-icons,
.database-icons,
.server-icons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 70px;

}

.design-icons img,
.backend-icons img,
.frontend-icons img,
.database-icons img,
.server-icons img {
  width: auto; /* Adjust the size as per your preference */
  height: 70px;
  transition: transform 0.3s ease;
}

.design-icons img:hover,
.backend-icons img:hover,
.frontend-icons img:hover,
.database-icons img:hover,
.server-icons img:hover {
  transform: scale(1.1);
}
