:root {
  /* font family */
  --font: "Changa", sans-serif;

  /* font sizes and weights*/
  --Header-font-size: 36px;
  --Header-font-color: #131313;

  --Header-explaination-font-size: 18px;
  --Header-explaination-font-color: #131313;

  --Paragraph-font-size: 16px;
  --Paragraph-font-color: #131313;

  --Secondary-Header-font-size: 24px;
  --Secondary-Header-font-color: #131313;

  --Secondary-Paragraph-font-size: 16px;
  --Secondary-Paragraph-font-color: #131313;

  /* page cover formatting */
  --cover-text-color: #ffffff;
  --cover-header-font-size: 48px;
  --cover-subHeader-font-size: 20px;

  /* btn formatting */
  --btn-text-font-size: 16px;

  --btn-color: #000766;
  --btn-font-color: #cccccc;

  --hover-btn-color: #297fff;
  --hover-btn-font-color: #000000;

  --highlight-color: #0664f1;

  /* colors */
  --container-color: #ecececd2;
  --box-color: #ffffff;
}

body {
  background: url("../../my-app/src/Assets/Plexus_Background_White.mp4");
  font-family: var(--font);
  overflow-y: scroll;
}
.highlight {
  color: var(--highlight-color); 
}
